<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <style>
            body{
                background-color: teal;
                color: white;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            h1{
                font-size: 45px;
                text-align: center;
                margin-bottom: 30px;
                text-decoration: underline;
            }
            p{
                font-size: 20px;
            }
            nav ul{
                display: flex;
                list-style: none;
                justify-content: center;
                column-gap: 30px;
            }
            nav ul li a{
                text-decoration: none;
                color: white;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1>Home Page</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/service">Services</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ut nihil quo ea eum quibusdam? Quibusdam cumque alias dicta quo et ut consectetur quas saepe atque aliquid, deleniti commodi quod debitis eius obcaecati culpa expedita laboriosam animi repellat. Placeat nesciunt quaerat quibusdam asperiores recusandae, ab autem incidunt quisquam inventore temporibus quae animi maxime nobis et repudiandae eos cumque. Veniam, quidem necessitatibus, fuga unde officiis libero odio aperiam dicta quisquam ipsa facere eius vero placeat dolorum dolor ad ab vitae officia expedita nobis consequuntur laborum. Quam ad iusto animi ipsam atque libero eos, a facere odit, tenetur dolores repudiandae, commodi earum at deleniti ullam temporibus doloribus incidunt voluptas? Ipsam rem labore pariatur placeat explicabo dicta recusandae minus quibusdam alias provident, accusantium atque culpa totam nulla maiores eum nisi harum iure dolore necessitatibus odio? Veritatis veniam pariatur deserunt aliquam rem numquam dolorum tenetur obcaecati quae voluptas esse nulla tempora, amet eaque perspiciatis doloribus. Sint facere autem minima omnis fugiat voluptas distinctio beatae doloremque neque reiciendis! In voluptatum, recusandae maiores ad dolorem ipsa iure eos dicta esse. Fugiat odit qui at, facilis vitae modi minima, repudiandae voluptate nulla tempora harum quidem dolore quae voluptatem perspiciatis. Voluptatibus, veniam architecto dicta earum fuga nulla voluptate vero sint consequatur, ab itaque sapiente aspernatur optio officia voluptas est ratione minus aliquam velit error, nihil dignissimos fugiat quasi facilis. Cum consectetur iste est iure quae, voluptate odio eligendi esse, dolore dicta at perspiciatis tenetur possimus commodi nostrum corrupti numquam, magnam reiciendis dolor! Ex cumque similique cupiditate odio? Earum, debitis nemo, quam praesentium odio ad eum molestiae iste dolorum cupiditate repudiandae voluptatum exercitationem illo placeat non? Odit voluptatem ex libero voluptatibus reiciendis, eligendi ut! Odit aspernatur architecto ad velit earum perspiciatis blanditiis voluptate eius, beatae tenetur incidunt nobis odio animi consequuntur quas cumque amet iusto nostrum obcaecati ipsa placeat provident. Delectus harum quas exercitationem nihil adipisci nesciunt, fuga neque dolore, incidunt, nobis nisi debitis reiciendis amet dolor? Ea, incidunt aliquam commodi facere id qui quibusdam fuga consequuntur perspiciatis tenetur. Doloribus quaerat eum, accusantium nulla optio ratione officia. Magnam blanditiis, excepturi explicabo nihil quibusdam dolorem nesciunt? Minus excepturi aliquam incidunt aliquid nisi culpa vero suscipit, dignissimos saepe repellendus cupiditate ducimus vel dicta quo soluta ab ea. Veritatis distinctio at adipisci minima voluptates officiis explicabo assumenda necessitatibus dicta sit! Reiciendis temporibus autem, quidem nesciunt, facere veniam, ab voluptate suscipit beatae esse sunt cupiditate omnis magnam? Eveniet reiciendis ullam ipsum similique nulla sed architecto hic recusandae aperiam earum? Dicta veritatis dolor voluptate natus vitae incidunt consequuntur optio cum. Quia quod veniam eos quas id laudantium iure provident ipsam tempore totam, deleniti repellendus praesentium recusandae magni architecto, sapiente, aperiam temporibus nam voluptatibus ipsa. Quam, nostrum. Suscipit delectus blanditiis aspernatur error eaque, voluptas praesentium maiores neque, deserunt corporis laborum officia repudiandae. Nisi, deleniti beatae rem incidunt illo eveniet similique soluta iste ipsa ipsum distinctio dolorum officia provident illum id! Rerum nemo officia quam modi odit, nam itaque assumenda! Sed neque hic exercitationem! Temporibus, doloremque asperiores. Ex deserunt magnam corporis ab, voluptates necessitatibus fugit voluptate?</p>

    </body>
</html>